<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="lastupdated" value="10/03/14 @ 10:43 AM"/>
  </appSettings>
  <connectionStrings>
    <add name="ConnectionStringOC8Ball" connectionString="Data Source=tidalPagesPublic.db.7006244.hostedResource.com;Initial Catalog=tidalPagespublic;User Id=tidalpagespublic;Password=Rooster12;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies/>
      <buildProviders>
        <add extension=".aspx" type="System.Web.Compilation.PageBuildProvider"/>
        <add extension=".ascx" type="System.Web.Compilation.UserControlBuildProvider"/>
        <add extension=".master" type="System.Web.Compilation.MasterPageBuildProvider"/>
        <add extension=".asix" type="System.Web.Compilation.ImageGeneratorBuildProvider"/>
        <add extension=".asmx" type="System.Web.Compilation.WebServiceBuildProvider"/>
        <add extension=".ashx" type="System.Web.Compilation.WebHandlerBuildProvider"/>
        <add extension=".soap" type="System.Web.Compilation.WebServiceBuildProvider"/>
        <add extension=".resx" type="System.Web.Compilation.ResXBuildProvider"/>
        <add extension=".resources" type="System.Web.Compilation.ResourcesBuildProvider"/>
        <add extension=".wsdl" type="System.Web.Compilation.WsdlBuildProvider"/>
        <add extension=".xsd" type="System.Web.Compilation.XsdBuildProvider"/>
        <add extension=".js" type="System.Web.Compilation.ForceCopyBuildProvider"/>
        <add extension=".css" type="System.Web.Compilation.PageBuildProvider"/>
        <add extension=".skin" type="System.Web.Compilation.PageBuildProvider"/>
      </buildProviders>
    </compilation>
    <authentication mode="Windows"/>
    <pages controlRenderingCompatibilityVersion="3.5" theme="oc8ball"/>
  </system.web>
  <system.codedom/>
  <system.webServer/>
</configuration>