/* DEFAULTS
----------------------------------------------------------*/

body   
{
    height: 800px;
    font-size: 1em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
}

a
{
    font-weight: bold;    
}

a:link, a:visited, a:active
{
    color: blue;
    text-decoration: none;
}

a:hover
{
    color: green;
    text-decoration: underline;
}

/*==============================================================================*/
a.dgItem:link, a.dgItem:visited, a.dgItem:active
{
    color: white;
    text-decoration: none;
}

a.dgItem:hover
{
    color: #0055ff;
    text-decoration: underline;
}

a.dgAltItem:link, a.dgAltItem:visited, a.dgAltItem:active
{
    color: #0055ff;
    text-decoration: none;
}

a.dgAltItem:hover
{
    color: #aaaaaa;
    text-decoration: underline;
}
/*==============================================================================*/


p
{
    margin-bottom: 0px;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-weight: bolder;
    margin-bottom: 5px;
    padding-bottom: 0px;
}

h1
{
    font-size: 2.0em;
}

h2
{
    font-size: 1.4em;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: .9em;
}

h5, h6
{
    font-size: .6em;
}

/* OTHERS
----------------------------------------------------------*/
.width92
{
    width: 92px; 
    text-align: center;
}

.width771
{
    width: 771px;
    text-align: left;
    vertical-align: top;
}

.content
{
    width: 100%;
}

.Center
{
    text-align: center;    
}

.MenuTable
{
    width: 700px;    
}

.MenuCell
{
    width: 350;    
}

.lastweekresultsheader
{
    font-weight: bold;
    color: Navy;
}

.lastweekresultsheaderpoints
{
    font-weight: bold;
    color: Navy;
    text-align: center;
}

.lastweekresultscols
{
    font-weight: bold;
    color: Green;
}

.lastweekresultscolspoints
{
    font-weight: bold;
    color: Green;
    text-align: center;
}

   .style1
        {
            font-size: large;
        }
        .style2
        {
            font-size: large;
            font-weight: bold;
        }
        .style3
        {
            color: #006600;
        }
        .style4
        {
            background-color: #FFFF00;
        }
        .style5
        {
            font-size: x-large;
        }
        .style6
        {
            font-size: xx-large;
        }

.riggedMiddleCol
{
	border-left: 1px solid black;
	border-right: 1px solid black;
	background-color: black;
}

#sb-title-inner,#sb-info-inner,#sb-loading-inner,div.sb-message{font-family:"HelveticaNeue-Light","Helvetica Neue",Helvetica,Arial,sans-serif;font-weight:200;color:#fff;}
#sb-container{position:fixed;margin:0;padding:0;top:0;left:0;z-index:999;text-align:left;visibility:hidden;display:none;}
#sb-overlay{position:relative;height:100%;width:100%;}
#sb-wrapper{position:absolute;visibility:hidden;width:100px;}
#sb-wrapper-inner{position:relative;border:1px solid #000;overflow:hidden;height:100px;}
#sb-body{position:relative;height:100%;}
#sb-body-inner{position:absolute;height:100%;width:100%;}
#sb-player.html{height:100%;overflow:auto;}
#sb-body img{border:none;}
#sb-loading{position:relative;height:100%;}
#sb-loading-inner{position:absolute;font-size:14px;line-height:24px;height:24px;top:50%;margin-top:-12px;width:100%;text-align:center;}
#sb-loading-inner span{background:url(../Images/shadowbox/loading.gif) no-repeat;padding-left:34px;display:inline-block;}
#sb-body,#sb-loading{background-color:#000;}
#sb-title,#sb-info{position:relative;margin:0;padding:0;overflow:hidden;}
#sb-title,#sb-title-inner{height:26px;line-height:26px;}
#sb-title-inner{font-size:16px;}
#sb-info,#sb-info-inner{height:20px;line-height:20px;}
#sb-info-inner{font-size:12px;}
#sb-nav{float:right;height:16px;padding:2px 0;width:45%;}
#sb-nav a{display:block;float:right;height:16px;width:16px;margin-left:3px;cursor:pointer;background-repeat:no-repeat;}
#sb-nav-close{background-image:url(../Images/shadowbox/close.png);}
#sb-nav-next{background-image:url(../Images/shadowbox/next.png);}
#sb-nav-previous{background-image:url(../Images/shadowbox/previous.png);}
#sb-nav-play{background-image:url(../Images/shadowbox/play.png);}
#sb-nav-pause{background-image:url(../Images/shadowbox/pause.png);}
#sb-counter{float:left;width:45%;}
#sb-counter a{padding:0 4px 0 0;text-decoration:none;cursor:pointer;color:#fff;}
#sb-counter a.sb-counter-current{text-decoration:underline;}
div.sb-message{font-size:12px;padding:10px;text-align:center;}
div.sb-message a:link,div.sb-message a:visited{color:#fff;text-decoration:underline;}
